.button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    border: none;

    color: #fff;
    font-family: 'Mont_SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;

    padding: 16px 48px;
    cursor: pointer;

    transition: all 0.2s;
    width: 100%;

    &:hover{
        background-color: red;
    }
}
