.input-layout {
    position: relative;
    height: 58px;
    
  
    .input {
      height: 100%;
      width: 100%;
      // padding: 10px 18px;
      border-radius: 15px;
      background: #f8f8fa;
      font-size: 16px;
      color: #252525;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .label {
      z-index: 2;
      color: #828282;
      pointer-events: none;
      position: absolute;
      left: 20px;
      top: 0px;
      bottom: 0px;
      height: fit-content;
      user-select: none;
      // font-size: 12px;
  
      display: flex;
      align-items: center;
  
      transition: all 0.3s ease-out;
  
      &:focus {
        font-size: 12px;
      } 
    }
  }
  